body {
  font-family: Arial, sans-serif;
  line-height: 1.6;
  color: #333;
  margin: 0;
  padding: 0;
}

.container {
  max-width: 600px;
  margin: 2rem auto;
  padding: 2rem;
  background-color: #f4f4f4;
  border-radius: 10px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

h1 {
  font-size: 2rem;
  margin-bottom: 1rem;
}

input[type="text"] {
  display: block;
  margin-bottom: 1rem;
  padding: 0.5rem;
  font-size: 1rem;
  border: 1px solid #ccc;
  border-radius: 5px;
  width: 100%;
  box-sizing: border-box;
}

.input-counter-wrapper {
  position: relative;
}

.char-counter {
  position: absolute;
  bottom: -20px;
  right: 0;
  font-size: 0.8rem;
  color: #888;
}


input[type="submit"] {
  display: inline-block;
  background: #0077cc;
  color: #fff;
  border: none;
  font-size: 1rem;
  padding: 0.5rem 1rem;
  cursor: pointer;
  border-radius: 5px;
}

input[type="submit"]:hover {
  background: #005fa3;
}

a {
  color: #0077cc;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

.loading-text {
  display: none;
  text-align: center;
  font-size: 24px;
}

.loading {
  display: inline-block;
  animation: blink 1s linear infinite;
}

@keyframes blink {
  0%, 100% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
}

input[type="submit"]:disabled {
  background-color: #cccccc;
  color: #888888;
  cursor: not-allowed;
}

.back-button {
  background-color: #3498db;
  border: none;
  color: white;
  padding: 12px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
  border-radius: 4px;
  transition-duration: 0.4s;
}

.back-button:hover {
  background-color: #2980b9;
  color: white;
}

.centered-button {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
}


/* Menü Barı */
.menu {
  background-color: #333;
  overflow: hidden;
  margin-bottom: 20px;
  border-radius: 5px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  padding: 0 20px;
}

.menu a {
  float: left;
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
  border-radius: 0px;
  transition: background-color 0.2s;
}

.menu a:hover {
  background-color: #0077cc;
}

.menu a.active {
  background-color: #0077cc;
}

textarea {
  display: block;
  margin-bottom: 1rem;
  padding: 0.5rem;
  font-size: 1rem;
  border: 1px solid #ccc;
  border-radius: 5px;
  width: 100%;
  box-sizing: border-box;
  resize: vertical;
}

